#showModalBtn{
  background-color: #a3af6ef1;
  color: #e6f0e2;
  border: 0;
}

#headnav{
  background: #56aae2!important;
}

#popoeverid{
  list-style-type: none;
}

a{
  text-decoration:none;
}

.boardheading{
  text-align: center!important;
  background-color: cadetblue!important;
}
#boardheadingid{
  color:#723a3a !important;
}


#showBtn {
  background-color: #9c6b6b;
  color: #ffffff;
  border: 0;
  margin-top: 25% !important;
}

#createList {
  margin-top: 25% !important;
}

.boardsLists{
  /* margin-left: 0.5rem; */
  background-color: #4ac73130;
  width: max-content;
  display:inline-block;
  /* padding-left: 1%; */
  text-align: center;
  /* padding: 10px; */
  box-shadow: 5px 10px #888888;
}
.row{
  margin-top: 0!important;
}

.vertical-center-transparent {
  background-color:#998a8a;
  margin: auto;
  border-radius: 6px;
  max-width: 368px;
  min-height: 201px;
  width: 100%;
  height: auto;
  padding: 0 15px;
  display: flex;
  align-items: center;

}

.vertical-center{
  background-color: #998a8a;
  margin: auto;
  border-radius: 6px;
  min-height: 201px;
  width: 100%;
  max-width: 368px;
  height: auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.listdiv{
  background-color: #998a8a;
  border: 1px solid gray;
  border-radius: 6px;
  margin: auto;
  max-width: 368px;
  min-height: 201px;
  width: 100%;
  height: auto;
  opacity: 0.9;
  display: inline-block;
}
/* Comment The Below */

.navcss {
  flex:1
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-custom {
        max-width: 128px;
    }
body{
  background-color: aliceblue;
}



.card{
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 #ce636333, 0 6px 20px 0 #8b272730;
}
.form-rounded {
  border-radius: 1rem;
}
.modal-content{
  background-image: url('../img/modalback.jpg');
  background-size: 100%;
}

#boardname{
  /* background-color: #eea07cbe; */
  font-weight: bold;
}

.close{
  color: white!important;
}
a.card-title{
  font-size: 20px;
}
.hidden {
  display: none;
}
.popover-title {
  text-align: center;
}

.custom-popover li {
  border: none!important;
  text-align: center;
}

.custom-popover li:nth-child(2) {
  border-top: 1px solid #ccc!important;
}

.custom-popover li:last-child {
  border-top: 1px solid #cccccc!important;
}

h5{
  text-align: center;
  color:whitesmoke!important;
}

@media only screen and (min-width: 500px) {
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  #firstsection{
    min-height: 258.594px;
    height: auto;
  }
  #thirdsection{
    min-height: 258.594px;
    height: auto;
  }
}
